body {
    margin: 0;
    overflow-x: hidden;
}

.backdrop {
    z-index: -100;
    min-height: 200vh;
    min-width: 100wh;
}


.envy {
    background: #98dbf5;
    background: linear-gradient(180deg, #98dbf5 0%, #7affdc 20%, #a6ffa6 80%, #ffc061 100%);
}

.gluttony {
    background: #FFC061;
    background: linear-gradient(180deg, #ffc061 0%, #fa9f50 20%, #db2c75 80%, #b30c9f 100%);
}

.pride {
    background: #B30C9F;
    background: linear-gradient(180deg, #b30c9f 0%, #681691 40%, #701d91 90%, #c4981f 100%);
}

.greed {
    background: #C4981F;
    background: linear-gradient(180deg, #c4981f 0%, #f7f381 40%, #fffdb5 80%, #a6e9ff 100%);
}

.sloth {
    background: #A6E9FF;
    background: linear-gradient(180deg, #a6e9ff 0%, #4070ff 34%, #3665e4 68%, #f00000 100%);
}

.wrath {
    background: #F00000;
    background: linear-gradient(180deg, #f00000 0%, #bd0d0d 20%, #780a0a 60%, #8c0a35 80%, #db076d 100%);
}

.lust {
    background: #DB076D;
    background: linear-gradient(180deg, #db076d 0%, #e800ae 20%, #ff7ad1 60%, #f562c1 80%, #ff87bd 100%);
}